.Widget {
  max-width: 650px;
  margin: 4px auto;
  border: 2px #482426 solid;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px auto;
}

.Widget-var_name {
  background-color: #482426;
  color: #EABCAC;
  padding: 2px 4px;
}

.Widget-formula_window {
  font-family: 'Courier New', Courier, monospace;
  background: #EABCAC;
}

.Widget-formula_input {
  border: 0;
  padding: 4px;
  background: none;
  color: inherit;
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}

.Widget-result_window {
  box-sizing: border-box;
}
