.ResultDisplay {
  display: contents;
}

.ResultDisplay-error {
  color: #c66;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.ResultDisplay-list {
  background-color: #fff;
  color: #000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ResultDisplay-listItem {
  border: 1px solid #482426;
  width: 100%;
}

.ResultDisplay-listItem:not(:last-of-type) {
  border-bottom: none;
}

/*.ResultDisplay-cell {*/
  /*border: 1px solid #482426;*/
  /*width: 100%;*/
  /*padding: 4px;*/
/*}*/

.ResultDisplay-cell:not(:last-of-type) {
  border-bottom: none;
}

.ResultDisplay-table {
  border: 0;
  border-collapse: collapse;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.ResultDisplay-row {
}

.ResultDisplay-cell {
  padding: 2px 4px;
}

.ResultDisplay-record {
  border: 1px solid #482426;
  border-collapse: collapse;
  background-color: #fff;
  color: #000;
}

.ResultDisplay-recordRow {

}

.ResultDisplay-recordProperty {
  text-align: left;
  border: 1px solid #482426;
  padding: 4px;
  font-size: 20px;
  font-weight: bold;
}

.ResultDisplay-recordValue {
  border: 1px solid #482426;
  width: 100%;
  padding: 0;
}
